@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    width: 100%;
    height: auto;
    background-color: rgb(233, 252, 222);
    color: black;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: green;
}
.innerheader{
    width: 100%;

}
.headerimg{
    width: 185px;
    top: -2%;
    position: absolute;
}
.navigation a{
    height: 100%;
    float: left;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
}
.navigation{
    font-size: 30px;
    top: 3%;
    right: 5%;
    position: absolute;
}
a:link
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
  }
.text{
    margin: 80px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    
  }
.button {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: black


}
.mail {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: black
}